<ion-view view-title="Welcome" cache-view="true">
  <ion-content class="padding">
    
    	<h4>PLEASE TRY THE BELOW DEMO</h4>
    <div class="list card">

	  <a href="#/tab/hadoopdemo" class="item item-icon-left">
	    <i class="icon ion-ios-book"></i>
	    HADOOP DEMO
	  </a>
	
	 <a href="#/tab/nosqldemo" class="item item-icon-left">
	    <i class="icon ion-ios-cart"></i>
	   	 ACTIVITY TRACKER
	  </a>
	  
	<a href="#/tab/iotdemo" class="item item-icon-left">
	    <i class="icon ion-ios-speedometer"></i>
	    POSITION TRACKER
	  </a>
	 
	  
	  <a href="#/tab/myprofile" class="item item-icon-left">
	    <i class="icon ion-ios-person"></i>
	    MY PROFILE
	  </a>
	  
	  	
	  <a href="#/tab/aboutus" class="item item-icon-left">
	    <i class="icon ion-happy"></i>
	    ABOUT US
	  </a>
	  
	</div>
	
	    
  </ion-content>
</ion-view>
